# Node modules
node_modules/

# Environment variables (secret keys)
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Temporary files
temp/
tmp/

# Build folder
dist/
build/

# Coverage
coverage/

# IDE files
.vscode/
.idea/